[submodule "src/sw/poky"]
	path = src/sw/poky
	url = https://git.yoctoproject.org/git/poky
	branch = walnascar
[submodule "src/sw/meta-intel-fpga"]
        path = src/sw/meta-intel-fpga
	url = https://git.yoctoproject.org/meta-intel-fpga/
	branch = walnascar
[submodule "src/sw/meta-intel-fpga-refdes"]
	path = src/sw/meta-intel-fpga-refdes
	url = https://github.com/altera-fpga/meta-intel-fpga-refdes 
	branch = walnascar
[submodule "src/sw/meta-openembedded"]
        path = src/sw/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = walnascar
[submodule "src/sw/meta-clang"]
        path = src/sw/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = walnascar
[submodule "src/sw/meta-virtualization"]
	path = src/sw/meta-virtualization
	url = https://git.yoctoproject.org/git/meta-virtualization
	branch = walnascar
